body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#222, #444);
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

#menu, #shop, #ranking {
  padding-top: 80px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

#playBtn { background: limegreen; }
#shopBtn { background: orange; }
#rankBtn { background: cyan; }

#hud {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.target {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: 0.15s;
}

.hit {
  transform: scale(1.8);
  opacity: 0;
}
